<div class="about-page">
  <section class="hero is-sailor-blue is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-light-blue">
          About
        </h1>
        <h3 class="subtitle is-3">
          I guess this one is about me?!?
        </h3>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Who am I?
        </h1>
        <p class="subtitle">
          My name is Bhattarapong Somwong AKA Art
        </p>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          What is this site?
        </h1>
        <p class="subtitle">
          This site is called FINA. It's basically a calculator for
          Numerical Analysis subject.
        </p>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          What are the motivations behind this website?
        </h1>
        <p class="subtitle">
          During winter of 2020. I have to take this course. It's a course about
          basically every mathematics thing I could find. And the teacher that's 
          teaching this subject is just not the best, it makes be bored. But one day
          while I was doing the homework. I see how the Bisection method is doing its job
          repetitively. So I thought why don't I create a program to automate it. So I spent
          that day, about 2 hours, code the Bisection method prototype program. And that's the
          start of the journey of FINA.
        </p>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Tech stack and tools?
        </h1>
        <div class="content">
          <h4>
            The website
          </h4>
          <p>
            The site is created by Vue, TypeScript, Buefy and d3
          </p>
          <h4>
            The API
          </h4>
          <p>
            The API is created by Fastify
          </p>
          <h4>
            The calculations
          </h4>
          <p>
            The calculations are made by mathjs
          </p>
        </div>
      </div>
    </div>
  </section>
  <breadcrumb-footer />
</div>
