<div class="sources-page">
  <section class="hero is-sailor-blue is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-light-blue">
          Sources
        </h1>
        <h3 class="subtitle is-3">
          See here where did I get all the references
        </h3>
      </div>
    </div>
  </section>
  <section class="hero is-white is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Significant Digits
        </h1>
        <div class="content">
          <ul>
            <li>
              https://en.wikipedia.org/wiki/Significant_figures
            </li>
            <li>
              https://youtu.be/l2yuDvwYq5g
            </li>
            <li>
              https://ccnmtl.columbia.edu/projects/mmt/frontiers/web/chapter_5/6665.html
            </li>
            <li>
              https://www.purplemath.com/modules/placeval3.htm
            </li>
            <li>
              https://www.calculatorsoup.com/calculators/math/significant-figures.php
            </li>
            <li>
              https://www.calculatorsoup.com/calculators/
            </li>
            <li>
              https://stackoverflow.com/questions/34924709/for-input-type-number-how-to-set-default-value-to-0/34926093
            </li>
            <li>
              https://www.bbc.co.uk/bitesize/guides/zscq6yc/revision/3
            </li>
            <li>
              https://regex101.com/r/wT7mS9/1
            </li>
            <li>
              http://jsfiddle.net/5rw5G/4/
            </li>
            <li>
              https://stackoverflow.com/a/39399503/12386405
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
