<div class="significant-digits-page">
  <section id="significant-digits" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Significant Digits
        </h1>
        <h3 class="subtitle is-3">
          Like how significant it could be?!?
        </h3>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          Significant Digits, or <katex-element expression="SD" /> is the number that is absolutely necessary
          to indicate the quantity of something. If a number expressing the result
          of measurement of something (e.g., length, pressure, volume, or mass)
          has more digits than the digits allowed by the measurement resolution,
          only the digits allowed by the measurement resolution are reliable
          so only these can be significant figures.
        </p>
      </div>
    </div>
  </section>
  <section id="rules" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Rules
        </h1>
        <div class="content">
          <ol>
            <li class="subtitle">
              <p class="subtitle">
                All non-zero numbers are significant digits,
                e.g., 846 has 3 significant digits, 8, 4, and 6.
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                All zeros between non-zero numbers are significant digits,
                e.g., 5005 has 4 significant digits,
                5, 0 (on hundreds place), 0 (on tens place), and 5.
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                <b>Leading Zeros</b>, meaning zeros before any non-zero numbers, is <b>never</b>
                significant in both float and integer, for example.
              <ul>
                <li>
                  <p class="subtitle">
                    0.0074 has 2 significant digits, 7 and 4.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    013 has 2 significant digits, 1 and 3.
                  </p>
                </li>
              </ul>
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                All zeros after non-zero numbers (called <b>Trailing Zeros</b>), well, this depends.
              <ul>
                <li>
                  <p class="subtitle">
                    If it's an integer e.g. 400, then we won't count those 2 zeros,
                    so this one will have 1 significant digits, 4.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If it's a float <b>without</b> zeros behind the dot, e.g., 540.,
                    then we count the zero before the dot too, so this one will have 3 significant digits,
                    5, 4, and 0.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If it's an ordinary float, e.g. 400.00, then we count all the zeros both before
                    and after the dot, so this one will have 5 significant digits,
                    4, 0 (on tens place), 0 (one ones place), 0 (on tenths place), and 0 (on hundredths place).
                  </p>
                </li>
              </ul>
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                Numbers in scientific notation <katex-element expression="N \times 10^x" />, all digits comprising <katex-element expression="N" />
                are significant by the rules above, <katex-element expression="10" /> and <katex-element expression="x" /> are <b>NOT</b>
                significant, e.g., <katex-element expression="5.02 \times 10^3" /> has 3 significant digits,
                5, 0, and 2.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="examples" class="hero is-white">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <h3 class="subtitle">
          Find the significant digits in these numbers. Click on each box to display the answer :)
        </h3>
        <div class="columns">
          <div class="column">

            <div class="card" v-for="(card, index) in cardDescription" @click="toggleCard(index)" :key="index">
              <div class="card-content">
                <p class="title is-4 has-text-black" v-show="!card.show">{{ card.fullNumber }}</p>
                <div class="answer" v-show="card.show">
                  <p class="title has-text-black">
                    <span class="title is-4">{{ card.answer[0] }}</span><span class="title is-4 has-text-info">{{ card.answer[1] }}</span><span class="title is-4">{{ card.answer[2] }}</span>
                  </p>
                  <p class="subtitle is-6 has-text-black is-indented">
                    {{ card.answerDescription }}
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="calculate" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Calculate
        </h1>
        <b-field label="Number">
          <b-input v-model="numberInput" @input="searchDebounce" />
        </b-field>
        <h3 class="subtitle">
          Answer: {{ answerString }}
        </h3>
      </div>
    </div>
  </section>
</div>