<div class="significant-digits-page">
  <section id="significant-digits" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Significant Digits
        </h1>
        <h3 class="subtitle is-3">
          Like how significant it could be?!?
        </h3>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          Significant Digits, or <katex-element expression="SD" /> is the number that is absolutely necessary
          to indicate the quantity of something. If a number expressing the result
          of measurement of something (e.g., length, pressure, volume, or mass)
          has more digits than the digits allowed by the measurement resolution,
          only the digits allowed by the measurement resolution are reliable
          so only these can be significant figures.
        </p>
      </div>
    </div>
  </section>
  <section id="rules" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Rules
        </h1>
        <div class="content">
          <ol>
            <li>
              <p class="subtitle">
                All non-zero numbers are significant digits,
                e.g., 846 has 3 significant digits, 8, 4, and 6.
              </p>
            </li>
            <li>
              <p class="subtitle">
                All zeros between non-zero numbers are significant digits,
                e.g., 5005 has 4 significant digits,
                5, 0 (on hundreds place), 0 (on tens place), and 5.
              </p>
            </li>
            <li>
              <p class="subtitle">
                <b>Leading Zeros</b>, meaning zeros before any non-zero numbers, is <b>never</b>
                significant in both float and integer, for example.
              <ul>
                <li>
                  <p class="subtitle">
                    0.0074 has 2 significant digits, 7 and 4.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    013 has 2 significant digits, 1 and 3.
                  </p>
                </li>
              </ul>
              </p>
            </li>
            <li>
              <p class="subtitle">
                All zeros after non-zero numbers (called <b>Trailing Zeros</b>), well, this depends.
              <ul>
                <li>
                  <p class="subtitle">
                    If it's an integer e.g. 400, then we won't count those 2 zeros,
                    so this one will have 1 significant digits, 4.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If it's a float <b>without</b> zeros behind the dot, e.g., 540.,
                    then we count the zero before the dot too, so this one will have 3 significant digits,
                    5, 4, and 0.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If it's an ordinary float, e.g. 400.00, then we count all the zeros both before
                    and after the dot, so this one will have 5 significant digits,
                    4, 0 (on tens place), 0 (one ones place), 0 (on tenths place), and 0 (on hundredths place).
                  </p>
                </li>
              </ul>
              </p>
            </li>
            <li>
              <p class="subtitle">
                Numbers in scientific notation <katex-element expression="N \times 10^x" />, all digits comprising <katex-element expression="N" />
                are significant by the rules above, <katex-element expression="10" /> and <katex-element expression="x" /> are <b>NOT</b>
                significant, e.g., <katex-element expression="5.02 \times 10^3" /> has 3 significant digits,
                5, 0, and 2.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="examples" class="hero is-white">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <h3 class="subtitle">
          Find the significant digits in these numbers. Click on each box to reveal the answer :)
        </h3>
        <div class="columns">
          <div class="column">

            <div class="card" v-for="(card, index) in findSDCardDescription" @click="toggleFindSDCard(index)" :key="index">
              <div class="card-content">
                <span class="title is-4 has-text-black" v-show="!card.show">{{ card.fullNumber }}</span>
                <div class="answer" v-show="card.show">
                  <p class="title has-text-black">
                    <span class="title is-4">{{ card.answer[0] }}</span>
                    <span class="title is-4 has-text-info">{{ card.answer[1] }}</span>
                    <span class="title is-4">{{ card.answer[2] }}</span>
                  </p>
                  <p class="subtitle is-6 has-text-black is-indented">
                    {{ card.answerDescription }}
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="calculate-sd-in-number" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Calculate Significant Digits in a number
        </h1>
        <p class="subtitle is-indented">
          The program will take your input, chop it up, and give you back the significant digits inside of that input.
        </p>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="find-sd" class="label">Number to find SD</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="find-sd" type="number" step="any" v-model="numberToFindSDAmount" @input="findSDAmount" >
              </div>
            </div>
          </div>
        </div>
        <h3 class="subtitle">
          Answer: {{ numberToFindSDAmountAnswer }}
        </h3>
      </div>
    </div>
  </section>
  <hr class="linebreak">
  <section id="round-to-sd" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Rounding a number to a desired Significant Digits
        </h1>
        <p class="subtitle is-indented">
          In previous session, you have learned about finding significant digits.
          In this part, we will teach you how to round a number to a specified significant digits.
        </p>
      </div>
    </div>
  </section>
  <section id="round-to-sd-rules" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Rules
        </h1>
        <div class="content">
          <ol>
            <li>
              <p class="subtitle">
                Look at the first non-zero digit if rounding to one significant digit.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Look at the digit after the first non-zero digit if rounding to two significant digits.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Draw a vertical line after the place value digit that is required.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Look at the next digit.
              </p>
              <ul>
                <li>
                  <p class="subtitle">
                    <b>If it's 5 or more,</b> increase the previous digit by one.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    <b>If it's 4 or less,</b> keep the previous digit the same.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <p class="subtitle">
                Fill any spaces to the <b>right</b> of the line with zeros. stopping at the decimal point
                if there is one.
              </p>
            </li>
            <li>
              <p class="subtitle">
                If the significant digits you want to round to is smaller than the number (50,000 round to 3 SD), you can
                round them up into Scientific Notation (<katex-element expression="N \cdot 10^x" />) form too.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="round-to-sd-examples" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <p class="subtitle">
          Round these numbers to 3 significant digits. Click on each box to reveal the answer. Good luck :)
        </p>

        <div class="columns">
          <div class="column">

            <div class="card" v-for="(card, index) in roundSDCardDescription" @click="toggleRoundSDCard(index)" :key="index">
              <div class="card-content">
                <span class="title is-4 has-text-black" v-show="!card.show">{{ card.fullNumber }}</span>
                <div class="answer" v-show="card.show">
                  <p class="title has-text-black">
                    <span class="title is-4">{{ card.answer[0] }}</span>
                    <span class="title is-4 has-text-info">{{ card.answer[1]}}</span>
                    <span class="title is-4">{{ card.answer[2] }}</span>
                  </p>
                  <p class="subtitle is-6 has-text-black is-indented">
                    {{ card.answerDescription }}
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="calculate-round-to-sd" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Round a number to a desired Significant Digits
        </h1>
        <p class="subtitle">
          <b>Input:</b> Number that you want to round, and significant digits amount. <br>
          <b>Output:</b> Rounded number to significant digits using <code>Number.toPrecision()</code>
        </p>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="round-to-sd-input" class="label">Number to round</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="round-to-sd-input" type="number" step="any" v-model="roundToSD.input"
                  @input="roundNumberToSD" />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="round-to-sd-sd" class="label">Significant Digits</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="round-to-sd-sd" type="number" step="any" min="1" max="100" v-model="roundToSD.sd"
                  @input="roundNumberToSD" />
              </div>
            </div>
          </div>
        </div>
        <h3 class="subtitle">
          Answer: {{ roundToSDAnswer }}
        </h3>
      </div>
    </div>
  </section>
</div>
