<div class="newton-page">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Newton
        </h1>
        <h3 class="subtitle is-3">
          First method that's named after a person? I wish one day I could be
          at that level
        </h3>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          Newton's method, also known as the Newton-Raphson method, named after
          Isaac Newton and Joseph raphson, is a root-finding algorithm which produces
          successively better approximations to the roots of a real-valued function. 
          The most basic version starts with a single-variable function 
          <katex-element expression="f" /> defined for a real variable <katex-element expression="x" />,
          the function's derivative <katex-element expression="f'" />, and an initial guess
          <katex-element expression="x_1" /> for a root of <katex-element expression="f" />.
          If the functions satisfies sufficient assumptions and the initial guess is close,
          then we'll get the answer.
        </p>
      </div>
    </div>
  </section>
  <section id="constraints" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Input Constraints
        </h1>
        <div class="content">
          <ol>
            <li>
              <p class="subtitle">
                Both expression <katex-element expression="f" /> and
                <katex-element expression="f'" /> <b>must</b> be evaluable.
              </p>
            </li>
            <li>
              <p class="subtitle">
                The expression <katex-element expression="f" /> is continuous
                and the first derivative <katex-element expression="f'" /> is known.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Initial guess <katex-element expression="x_1" /> <b>must</b> not
                make <katex-element expression="f'(x_1) = 0" />
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  
</div>
