<div class="newton-page">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Newton
        </h1>
        <h3 class="subtitle is-3">
          First method that's named after a person? I wish one day I could be
          at that level
        </h3>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          Newton's method, also known as the Newton-Raphson method, named after
          Isaac Newton and Joseph raphson, is a root-finding algorithm which produces
          successively better approximations to the roots of a real-valued function. 
          The most basic version starts with a single-variable function 
          <katex-element expression="f" /> defined for a real variable <katex-element expression="x" />,
          the function's derivative <katex-element expression="f'" />, and an initial guess
          <katex-element expression="x_1" /> for a root of <katex-element expression="f" />.
          If the functions satisfies sufficient assumptions and the initial guess is close,
          then we'll get the answer.
        </p>
      </div>
    </div>
  </section>
  <section id="constraints" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Input Constraints
        </h1>
        <div class="content">
          <ol>
            <li>
              <p class="subtitle">
                Both expression <katex-element expression="f" /> and
                <katex-element expression="f'" /> <b>must</b> be evaluable.
              </p>
            </li>
            <li>
              <p class="subtitle">
                The expression <katex-element expression="f" /> is continuous
                and the first derivative <katex-element expression="f'" /> is known.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Initial guess <katex-element expression="x_1" /> <b>must not</b>
                make <katex-element expression="f'(x_1) = 0" />
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="steps" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Steps to Reproduce
        </h1>
        <div class="content">
          <ul>
            <li>
              <p class="subtitle">
                Starting with an expression <katex-element expression="f" />,
                and a starting point <katex-element expression="x_1" /> (that's it?)
              </p>
            </li>
            <li>
              <p class="subtitle">
                Find <katex-element expression="f'" /> by any normal way to do a 
                derivative on a function.
              </p>
            </li>
            <li>
              <p class="subtitle">
                When you got <katex-element expression="f'" />, plug <katex-element expression="x_1" />
                into this expression to find the next <katex-element expression="x" />
                <katex-element expression="x_{n + 1} = x_n - \frac{f(x_n)}{f'(x_n)}" :display-mode="true" />
              </p>
            </li>
            <li>
              <p class="subtitle">
                When you got <katex-element expression="x_{n + 1}" />,
                find <katex-element expression="f(x_{n + 1})" />
              </p>
            </li>
            <li>
              <p class="subtitle">
                Repeat step 3 and 4 until you got your answer, or it has low enough 
                error.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="examples" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <h1 class="subtitle is-3">
          Find the root of the function <katex-element expression="x^3 - 4x^2 + 1" /> when 
          <katex-element expression="x_1 = 0.5" />
        </h1>
        <p class="subtitle">
          Ok, we have to find the derivative of the function first.
          <katex-element expression="f(x) = x^3 - 4x^2 + 1" :display-mode="true" />
          <katex-element expression="f'(x) = 3x^2 - 8x" :display-mode="true" />
        </p>
        <p class="subtitle">
          Then, find <katex-element expression="x_{n + 1}" /> or <katex-element expression="x_2" />
          <katex-element expression="x_{n + 1} = x_n \frac{f(x)}{f'(x)}" :display-mode="true" />
          <katex-element expression="x_2 = x_1 - \frac{x_1^3 - 4x_1^2 + 1}{3x_1^2 - 8x_1}" :display-mode="true" />
          Since, <katex-element expression="x_1 = 0.5" />
          <katex-element expression="x_2 = 0.5 - \frac{(0.5)^3 - 4(0.5)^2 + 1}{3(0.5)^2 - 8(0.5)}" :display-mode="true" />
          <katex-element expression="x_2 = 0.538461" :display-mode="true" />
        </p>
        <p class="subtitle">
          Now that we got <katex-element expression="x_2" />, we find
          <katex-element expression="f(x_2)" />
          <katex-element expression="f(x) = x^3 - 4x^2 + 1" :display-mode="true" />
          <katex-element expression="f(0.538461) = (0.538461)^3 - 4(0.538461)^2 + 1" :display-mode="true" />
          <katex-element expression="f(0.538461) = -0.00363947" :display-mode="true" />
        </p>
        <p class="subtitle">
          I mean, that's pretty close already... now you rinse and repeat!
        </p>
        <b-button class="is-sailor-blue" @click="toggleAnswer" style="margin-bottom: 1.5rem;">Toggle calculations</b-button>
        <div v-show="katexAnswerDiv" class="box-overflow">
          <div v-for="(eachAnswer, i) in katexAnswerArray" :key="'expression: ' + i">
            <div v-for="expression in eachAnswer" :key="'sub-expression: ' + expression">
              <katex-element :expression="expression" :display-mode="true" />
            </div>
            <hr class="linebreak">
          </div>
        </div>
        <p class="subtitle">
          This method is simply superrrr fast. So you should get the answer in very little iterations.
          <grapher :id="'newton-final-result'" :expression="'x^3 - 4x^2 + 1'" :start="0.5" :points="points" />
        </p>
      </div>
    </div>
  </section>
  <section id="calculate" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Calculate
        </h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="newton-function-expression" class="label">Function expression</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="newton-function-expression" type="text"
                  v-model="newtonInput.expression">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="newton-diffed-expression" class="label">Differentiated expression</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="newton-diffed-expression" type="text"
                  v-model="newtonInput.diffedExpression">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="newton-diffed-expression-respect" class="label">Differentiated expression respect</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="newton-diffed-expression-respect" type="text"
                  v-model="newtonInput.respect">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="newton-start" class="label">Start</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="newton-start" type="number" step="any"
                  v-model="newtonInput.start">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="newton-iteration" class="label">Iteration times</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="newton-iteration" type="number" min="1" max="100" step="1"
                  v-model="newtonInput.iteration">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="newton-dp" class="label">Decimal points</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="newton-dp" type="number" min="1" max="15" step="1"
                  v-model="newtonInput.dp">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <b-button type="is-sailor-blue" @click="calculateNewtonInput" :disabled="validateInputs">Calculate</b-button>
          <b-button @click="resetInputsToDefault">Reset to default</b-button>
        </div>
      </div>
    </div>
  </section>
</div>
