@import '../../../variables';

$max-width-mobile: 770px;

.docs-landing-page {
  display: flex;
}

.docs-sidebar {
  padding: 1rem 1rem 3rem 1rem;
  background-color: rgb(255, 255, 255);
}

.docs-inner-list {
  padding-left: 0.75em;
  border-left: 2px solid rgb(200, 200, 200);
  margin: 0.75em;
}

.docs-sidebar-wrapper {
  margin: 10px 0;
}

.docs-list {
  line-height: 1.25;
  padding: 0.5em 0.75em;

  a {
    border-radius: 2px;
    color: rgb(74, 74, 74);
    display: block;
    padding: 0.5em 0.75em;

    &:hover {
      background-color: $docs-hover-blue;
    }
  }
}

.docs-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.scroll-to-top {
  padding-bottom: 1rem;
}

// this is when it's mobile
@media only screen and (max-width: $max-width-mobile) {
  .docs-landing-page {
    flex-direction: column;
  }

  .docs-sidebar {
    order: 2;
    border-top: 2px solid $gray-border;
    padding: 2rem;
    width: 100vw;
  }

  main {
    order: 1;
    margin-left: 0;
  }

  .breadcrumb-footer {
    display: none;
  }

  .breadcrumb-footer-bigscreen {
    order: 3;
    display: block;
  }
}

// this is when it's on pc
@media only screen and (min-width: $max-width-mobile) {
  .docs-landing-page {
    flex-direction: row;
  }

  .breadcrumb-footer-bigscreen {
    order: 3;
    display: none;
  }

  .breadcrumb-footer {
    display: block;
  }

  .docs-sidebar {
    order: 1;
    width: 20rem;
    height: 100vh;
    scroll-behavior: smooth;
    display: block;
    position: fixed;
    overflow-y: auto;
  }

  main {
    order: 2;
    margin-left: 20rem;
  }
}
