<div class="bisection-page">
  <section id="bisection" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Bisection
        </h1>
        <h3 class="subtitle is-3">
          A root-finding algorithm that slice every interval by half.
        </h3>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          Bisection method is a root-finding method that for every interval happens,
          it will slice each section by half towards the side that the root will be.
          It is very simple but really slow, so it is mostly used to find rough approximation
          before using faster method to find the root.
        </p>
      </div>
    </div>
  </section>
  <section id="constraints" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Input Constraints
        </h1>
        <div class="content">
          <ul>
            <li>
              <p class="subtitle">
                Both starting value <katex-element expression="f(a)" /> and <katex-element expression="f(b)" /> must have opposing signs.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Between the starting value <katex-element expression="a" /> and <katex-element expression="b" /> must have the root value.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="steps" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Steps to Reproduce
        </h1>
        <div class="content">
          <ol>
            <li class="subtitle">
              <p class="subtitle">
                Starts with an <katex-element expression="expression" />, starting value of the interval <katex-element expression="a" />
                and the end of the interval <katex-element expression="b" />.
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                Find the next interval point <katex-element expression="c" /> using the formula <katex-element expression="\frac{a + b}{2}" :display-mode="true" />
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                Check the value of <katex-element expression="f(c)" />
              <ul>
                <li>
                  <p class="subtitle">
                    If the value of <katex-element expression="f(a) \cdot f(c)" /> is more than <katex-element expression="0" />, then the next
                    interval to calculate is between <katex-element expression="c" /> and <katex-element expression="b" />.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If the value of <katex-element expression="f(a) \cdot f(c)" /> is less than <katex-element expression="0" />, then the next
                    interval to calculate is between <katex-element expression="a" /> and <katex-element expression="c" />.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If the value of <katex-element expression="f(a) \cdot f(c)" /> equals <katex-element expression="0" />, then you've found
                    the root value of the <katex-element expression="expression" />.
                  </p>
                </li>
              </ul>
              </p>
            </li>
            <li class="subtitle">
              <p class="subtitle">
                repeat step 2. to 4. until you've found the root value or it's under your acceptable
                error. The root value or the answer is going to be the last <katex-element expression="c" /> that you can find
                when <katex-element expression="f(c)" /> equals <katex-element expression="0" />.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="examples" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <h3 class="subtitle is-3">
          Find the root value of <katex-element expression="f(x) = x^3 + 4x^2 - 10" /> between 1 and 2.
        </h3>
        <h1 class="subtitle">
          Ok, so what do we do here? First of all we have to find the <katex-element expression="c" /> value for the next iteration.
          <katex-element expression="c = \frac{a + b}{2}" :display-mode="true" />
          <katex-element :expression="katexExpressions[0]" :display-mode="true" />
          <katex-element :expression="katexExpressions[1]" :display-mode="true" />
          Go find <katex-element expression="f(c)" /> then you get the first point to plot!
          <katex-element :expression="katexExpressions[2]" :display-mode="true" />
          <katex-element :expression="katexExpressions[3]" :display-mode="true" />
        </h1>
        <grapher :id="'first-graph'" expression="x^3 + 4x^2 - 10" start="1" end="2" :points="[{ x: answer[0].c, y: answer[0].fc }]" />
        <h1 class="subtitle">
          Next, you determine if we're going to shrink the left or the right side from <katex-element expression="f(a) \cdot f(c)" />
          <katex-element :expression="katexExpressions[4]" :display-mode="true" />
          <katex-element :expression="katexExpressions[5]" :display-mode="true" />
          Our result is negative, so our <katex-element expression="a" /> stays the same, and our <katex-element expression="c" /> will become
          the next <katex-element expression="b" />
        </h1>
        <h1 class="subtitle">
          <p class="subtitle">
            Then you rinse and repeat!
          </p>
          <b-button class="is-sailor-blue" @click="toggleAnswer" style="margin-bottom: 1.5rem;">Toggle calculations</b-button>
          <div v-show="katexRepeatingAnswerDiv">
            <div class="box-overflow" v-for="(eachAnswer, i) in katexRepeatArray" :key="'expression: ' + i">
              <katex-element :expression="eachAnswer[0]" :display-mode="true" />
              <katex-element :expression="eachAnswer[1]" :display-mode="true" />
              <katex-element :expression="eachAnswer[2]" :display-mode="true" />
              <katex-element :expression="eachAnswer[3]" :display-mode="true" />
              <hr class="linebreak">
            </div>
          </div>
          <h1 class="subtitle">
            Finally, you should have a graph that looks like this.
          </h1>
        </h1>
        <grapher :id="'final-graph'" expression="x^3 + 4x^2 - 10" start="1" end="2" :points="points" />
      </div>
    </div>
  </section>
  <section id="calculate" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Calculate
        </h1>
        <b-field horizontal label="Function expression">
          <b-input name="function-expression" v-model="bisectionInput.expression" />
        </b-field>
        <b-field horizontal label="Start">
          <b-numberinput class="bisection-numberinput" name="start" :controls="false" v-model="bisectionInput.start" />
        </b-field>
        <b-field horizontal label="End">
          <b-numberinput class="bisection-numberinput" name="end" :controls="false" v-model="bisectionInput.end" />
        </b-field>
        <b-field horizontal label="Iteration times">
          <b-numberinput class="bisection-numberinput" min="1" name="iteration-time" :controls="false" v-model="bisectionInput.iteration" />
        </b-field>
        <b-field horizontal label="Decimal points">
          <b-numberinput class="bisection-numberinput" min="1" max="15" name="decimal-points" :controls="false" v-model="bisectionInput.dp" />
        </b-field>
        <div class="buttons">
          <b-button type="is-sailor-blue" @click="calculateBisection" :disabled="validateInputs">Calculate</b-button>
          <b-button @click="resetInput">Reset inputs</b-button>
        </div>
      </div>
    </div>
  </section>
</div>
