<div class="bisection-page">
  <section id="bisection" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Bisection
        </h1>
        <h3 class="subtitle is-3">
          A root-finding algorithm that slice every interval by half.
        </h3>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          Bisection method is a root-finding method that for every interval happens,
          it will slice each section by half towards the side that the root will be.
          It is very simple but really slow, so it is mostly used to find rough approximation
          before using faster method to find the root.
        </p>
      </div>
    </div>
  </section>
  <section id="constraints" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Input Constraints
        </h1>
        <div class="content">
          <ul>
            <li>
              <p class="subtitle">
                The expression <b>must</b> be evaluable.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Both starting value <katex-element expression="f(a)" /> and
                <katex-element expression="f(b)" /> must have opposing signs, meaning the line of the expression in between <b>must</b> cross the
                <katex-element expression="x = 0" /> line.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Between the starting value
                <katex-element expression="a" /> and
                <katex-element expression="b" /> must have the root value,
                meaning the line of the expression in between <b>must</b> cross the
                <katex-element expression="x = 0" /> line.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="steps" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Steps to Reproduce
        </h1>
        <div class="content">
          <ol>
            <li>
              <p class="subtitle">
                Starts with an expression <katex-element expression="f" />, starting value of the interval <katex-element expression="a" />
                and the end of the interval <katex-element expression="b" />.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Find the next interval point <katex-element expression="c" /> using the formula <katex-element expression="\frac{a + b}{2}" :display-mode="true" />
              </p>
            </li>
            <li>
              <p class="subtitle">
                Check the value of <katex-element expression="f(c)" />
              <ul>
                <li>
                  <p class="subtitle">
                    If the value of <katex-element expression="f(a) \cdot f(c)" /> is more than <katex-element expression="0" />, then the next
                    interval to calculate is <katex-element expression="[c, b]" />.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If the value of <katex-element expression="f(a) \cdot f(c)" /> is less than <katex-element expression="0" />, then the next
                    interval to calculate is <katex-element expression="[a, c]" />.
                  </p>
                </li>
                <li>
                  <p class="subtitle">
                    If the value of <katex-element expression="f(a) \cdot f(c)" /> equals <katex-element expression="0" />, then you've found
                    the root value of the <katex-element expression="expression" />.
                  </p>
                </li>
              </ul>
              </p>
            </li>
            <li>
              <p class="subtitle">
                Repeat step 2. to 4. until you've found the root value or it's under your acceptable
                error. The root value or the answer is going to be the last <katex-element expression="c" /> that you can find
                when <katex-element expression="f(c)" /> equals <katex-element expression="0" />.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="examples" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <h3 class="subtitle is-3">
          Find the root value of <katex-element expression="x^3 + 4x^2 - 10" /> between <katex-element expression="1" /> and <katex-element expression="2" />.
        </h3>
        <p class="subtitle">
          Ok, so what do we do here? First of all we have to find the <katex-element expression="c" /> for the next iteration.
          <katex-element expression="c = \frac{a + b}{2}" :display-mode="true" />
          <katex-element expression="c = \frac{1 + 2}{2}" :display-mode="true" />
          <katex-element expression="c = 1.5" :display-mode="true" />
          Go find <katex-element expression="f(c)" /> then you get the first point to plot!
          <katex-element expression="f(1.5) = 1.5^3 + 4(1.5)^2 - 10" :display-mode="true" />
          <katex-element expression="f(1.5) = 2.375" :display-mode="true" />
        </p>
        <grapher :id="'bisection-first-graph'" expression="x^3 + 4x^2 - 10" start="1" end="2" :points="[{ x: answer[0].c, y: answer[0].fc }]" />
        <p class="subtitle">
          Next, you determine if we're going to shrink the left or the right side from <katex-element expression="f(a) \cdot f(c)" />
          <katex-element  expression="f(a) \cdot f(c) = -5 \cdot 2.375" :display-mode="true" />
          <katex-element expression="f(a) \cdot f(c) = -11.875" :display-mode="true" />
          Our result is negative, so our <katex-element expression="a" /> stays the same, and our <katex-element expression="c" /> will become
          the next <katex-element expression="b" />
        </p>
        <p class="subtitle">
          Then you rinse and repeat! (the calculations below lists <b>all</b> the calculations.)
        </p>
        <b-button class="is-sailor-blue" @click="toggleAnswer" style="margin-bottom: 1.5rem;">Toggle calculations</b-button>
        <div v-show="katexAnswerDiv" class="box-overflow">
          <div v-for="(eachAnswer, i) in katexAnswerArray" :key="'expression: ' + i">
            <div v-for="expression in eachAnswer" :key="'sub-expression: ' + expression">
              <katex-element :expression="expression" :display-mode="true" />
            </div>
            <hr class="linebreak">
          </div>
        </div>
        <p class="subtitle">
          Finally, you should have a graph that looks like this.
        </p>
        <grapher :id="'bisection-final-graph'" expression="x^3 + 4x^2 - 10" start="1" end="2" :points="points" />
      </div>
    </div>
  </section>
  <section id="calculate" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Calculate
        </h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="bisection-function-expression" class="label">Function expression</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="bisection-function-expression" type="text" v-model="bisectionInput.expression">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="bisection-start" class="label">Start</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="bisection-start" type="number" step="any" v-model="bisectionInput.start">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="bisection-end" class="label">End</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="bisection-end" type="number" step="any" v-model="bisectionInput.end">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="bisection-iteration" class="label">Iteration times</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="bisection-iteration" type="number" min="1" step="1" v-model="bisectionInput.iteration">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="bisection-dp" class="label">Decimal points</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="bisection-dp" type="number" min="1" max="15" step="1" v-model="bisectionInput.dp">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <b-button type="is-sailor-blue" @click="calculateBisection" :disabled="validateInputs">Calculate</b-button>
          <b-button @click="resetInputsToDefault">Reset to default</b-button>
        </div>
      </div>
    </div>
  </section>
</div>
