<div class="home-page">
  <section class="hero is-sailor-blue is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <img src="@/assets/rocket.png" alt="FINA" class="fina-logo">
          </div>
          <div class="column">
            <h1 class="title is-1 has-text-light-blue">
              FINA
            </h1>
            <h3 class="subtitle is-3">
              <span class="has-text-light-blue">{{ $t('home.heading.colored0') }}</span>{{ $t('home.heading.colored1') }}
              <span class="has-text-light-blue">{{ $t('home.heading.colored2') }}</span>{{ $t('home.heading.colored3') }}
              <span class="has-text-light-blue">{{ $t('home.heading.colored4') }}</span>{{ $t('home.heading.colored5') }}
              <span class="has-text-light-blue">{{ $t('home.heading.colored6') }}</span>{{ $t('home.heading.colored7') }}
            </h3>
            <b-button tag="router-link" to="/docs" type="is-link">{{ $t('home.gettingStarted') }}</b-button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-white is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-centered">
          {{ $t('home.chart.header') }}
        </h1>
        <h3 class="subtitle is-3 has-text-centered">
          {{ $t('home.chart.description') }}
        </h3>
        <h3 class="subtitle is-3 has-text-centered">
          {{ $t('home.chart.question.1') }}
          <katex-element :expression="expression" />
          {{ $t('home.chart.question.2') }}
          <katex-element expression="1" />
          {{ $t('home.chart.question.3') }}
          <katex-element expression="2" />
        </h3>
        <div class="box-overflow">
          <grapher :expression="expression" :points="points" :start="1" :end="2" />
        </div>
      </div>
    </div>
  </section>
  <breadcrumb-footer />
</div>
