<div class="source-page">
  <section class="hero is-sailor-blue is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-light-blue">
          Sources
        </h1>
        <h3 class="subtitle is-3">
          See here where did I get all the references
        </h3>
      </div>
    </div>
  </section>
  <section class="hero is-white is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Significant Digits
        </h1>
        <div class="content">
          <ul>
            <li>
              https://en.wikipedia.org/wiki/Significant_figures
            </li>
            <li>
              https://youtu.be/l2yuDvwYq5g
            </li>
            <li>
              https://ccnmtl.columbia.edu/projects/mmt/frontiers/web/chapter_5/6665.html
            </li>
            <li>
              https://www.purplemath.com/modules/placeval3.htm
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
