<div class="secant-page">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Secant
        </h1>
        <h1 class="subtitle is-3">
          The alternative to <router-link :to="{ path: '/docs/newton' }">Newton's Method</router-link>
        </h1>
      </div>
    </div>
  </section>
  <section id="description" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Description
        </h1>
        <p class="subtitle is-indented">
          You should've seen how Newton's Method works already. There are some
          drawbacks with Newton's Method, the main drawback is that some functions
          are not easy to do a derivative on. Some functions have a super long
          derivative function. If you don't want to use Newton's Method but still
          wants a method faster than Bisection Method, then this is the one.
        </p>
      </div>
    </div>
  </section>
  <section id="constraints" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Input Constraints
        </h1>
        <div class="content">
          <ul>
            <li>
              <p class="subtitle">
                The expression <b>must</b> be evaluable.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Both starting value
                <katex-element expression="f(a)" /> and
                <katex-element expression="f(b)" /> must have opposing signs, meaning the line of the expression in between
                <b>must</b> cross the
                <katex-element expression="x = 0" /> line.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="steps" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Steps to Reproduce
        </h1>
        <div class="content">
          <ol>
            <li>
              <p class="subtitle">
                Starts with an expression
                <katex-element expression="f" />, starting value of the interval
                <katex-element expression="a" />
                and the end of the interval
                <katex-element expression="b" />.
              </p>
            </li>
            <li>
              <p class="subtitle">
                Find the next interval point
                <katex-element expression="c" /> and <katex-element expression="f(c)" /> using the formula
                <katex-element expression="c = \frac{(a \cdot f(b)) - (b \cdot f(a))}{f(b) - f(a)}" :display-mode="true" />
              </p>
            </li>
            <li>
              <p class="subtitle">
                The value for the next iteration is that <br>
                <p class="subtitle has-text-centered">
                  <katex-element expression="a" /> becomes <katex-element expression="b" />, and <br>
                </p>
                <p class="subtitle has-text-centered">
                  <katex-element expression="b" /> becomes <katex-element expression="c" />.
                </p>
                <p class="subtitle">
                  So the next interval is <katex-element expression="[b, c]" />
                </p>
              </p>
            </li>
            <li>
              <p class="subtitle">
                Repeat step 2. to 4. until you've found the root value or it's under your acceptable
                error. The root value or the answer is going to be the last
                <katex-element expression="c" /> that you can find
                when
                <katex-element expression="f(c)" /> equals
                <katex-element expression="0" />.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="examples" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Examples
        </h1>
        <h3 class="subtitle is-3">
          Find the root of the function <katex-element expression="x^7 - 1000" /> where the
          root lies between <katex-element expression="2" /> and <katex-element expression="4" />
        </h3>
        <p class="subtitle">
          Ok, so what we do is that, we start off with an expression <katex-element expression="f" />,
          and 2 initial values <katex-element expression="a" /> and <katex-element expression="b" />. Since
          we need <katex-element expression="f(a)" /> and <katex-element expression="f(b)" /> first
          before we start finding <katex-element expression="c" />.
          <katex-element expression="f(a) = a^7 - 1000" :display-mode="true" />
          <katex-element expression="f(2) = 2^7 - 1000" :display-mode="true" />
          <katex-element expression="f(2) = -872" :display-mode="true" />
          <katex-element expression="f(b) = b^7 - 1000" :display-mode="true" />
          <katex-element expression="f(4) = 4^7 - 1000" :display-mode="true" />
          <katex-element expression="f(4) = 15384" :display-mode="true" />
          Then we start finding <katex-element expression="c" />
          <katex-element expression="c = \frac{(a \cdot f(b)) - (b \cdot f(a))}{f(b) - f(a)}" :display-mode="true" />
          <katex-element expression="c = \frac{(2 \cdot 15384) - (4 \cdot -872)}{15384 - (-872)}" :display-mode="true" />
          <katex-element expression="c = 2.1072835" :display-mode="true" />
          Find <katex-element expression="f(c)" /> and you get yourself the first point!
          <katex-element expression="f(c) = c^7 - 1000" :display-mode="true" />
          <katex-element expression="f(2.1072835) = 2.1072835^7 - 1000" :display-mode="true" />
          <katex-element expression="f(2.1072835) = -815.4726408" :display-mode="true" />
        </p>
        <p class="subtitle">
          Rinse and repeat and you will get the answer
        </p>
        <b-button class="is-sailor-blue" @click="toggleAnswer" style="margin-bottom: 1.5rem;">Toggle calculations</b-button>
        <div v-show="katexAnswerDiv" class="box-overflow">
          <div v-for="(eachAnswer, i) in katexAnswerArray" :key="'expression: ' + i">
            <div v-for="expression in eachAnswer" :key="'sub-expression: ' + expression">
              <katex-element :expression="expression" :display-mode="true" />
            </div>
            <hr class="linebreak">
          </div>
        </div>
        <grapher :id="'secant-final-graph'" :expression="'x^7 - 1000'" :start="2" :end="4" :points="points" />
      </div>
    </div>
  </section>
  <section id="calculate" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">
          Calculate
        </h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="secant-function-expression" class="label">Function expression</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="secant-function-expression" type="text" v-model="secantInput.expression">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="secant-start" class="label">Start</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="secant-start" type="number" step="any" v-model="secantInput.start">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="secant-end" class="label">End</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="secant-end" type="number" step="any" v-model="secantInput.end">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="secant-iteration" class="label">Iteration times</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="secant-iteration" type="number" min="1" max="100" step="1"
                  v-model="secantInput.iteration">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label for="secant-dp" class="label">Decimal points</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" name="secant-dp" type="number" min="1" max="15" step="1"
                  v-model="secantInput.dp">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <b-button type="is-sailor-blue" @click="calculateSecant" :disabled="validateInputs">Calculate</b-button>
          <b-button @click="resetInputsToDefault">Reset to default</b-button>
        </div>
      </div>
    </div>
  </section>
</div>
