<div class="home">
  <section class="hero is-sailor-blue">
    <div class="hero-body">
      <div class="container">
        <img src="@/assets/rocket.png" alt="FINA" class="fina-logo">
        <h1 class="title is-1 has-text-light-blue has-text-centered">
          FINA
        </h1>
        <h3 class="subtitle is-3 has-text-centered">
          <span class="has-text-light-blue">F</span>abulous and
          <span class="has-text-light-blue">I</span>nteractive
          <span class="has-text-light-blue">N</span>umerical
          <span class="has-text-light-blue">A</span>nalysis calculator.
        </h3>
      </div>
    </div>
  </section>
  <section class="hero is-white is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-light-blue has-text-centered">
          Interactive tool for Numerical Analysis
        </h1>
        <h3 class="subtitle is-3 has-text-centered">
          Beautiful representation at the tip of your mouse
        </h3>
        <index-graph />
      </div>
    </div>
  </section>
</div>
